<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>firebase</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>160151698734-u67faq6fsqu7lgg1r8vps4eiq523cbbu.apps.googleusercontent.com</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>firebase2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-160151698734-ios-e47d72c9156fd8cd070ebf</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Green Thumb uses your location to find nearby agricultural offices and show directions.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Green Thumb uses your location to find nearby agricultural offices and show directions.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Green Thumb uses Face ID to provide secure and convenient access to your garden dashboard.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Green Thumb needs access to your calendar to schedule expert sessions.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Green Thumb needs access to Reminders to help you track plant care tasks.</string>
</dict>
</plist>
